# Deny access to any files ending with .inc.php
# <FilesMatch "\.inc\.php$">
#     Require all denied
# </FilesMatch>

ErrorDocument 403 /custom-403.html
ErrorDocument 404 /custom-404.html
ErrorDocument 500 /custom-500.html